@media screen and (max-width:1088px){
    .intro p{
        padding: 20px 0;
    }
    .reviews{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
.reviews .card{
    margin-right: 0px !important;
    top:0px !important;

}
}



@media screen and (max-width: 768px) {
    
    .top{
        flex-direction: column;
    }
    
    
    .intro{
        padding: 10px;
        text-align: center;
    }
    .intro h1{
        font-size: 2rem;
    }
    .intro p{
        padding: 10px;
    }
    .rating{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    .rating .block{
        left: 0 !important;
        flex-direction: column;
        margin: 20px 0px;
      
    }
    .reviews{
        display: flex !important;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 30px;
    }

    .reviews .card{
      flex: 1;
    }

    .reviews .card:not(:last-child){
    margin-right:0px;
}

}